.Formulario
    display flex
    flex-direction column
.Formulario__Flex_form
	display: flex
	width: 100%

.Formulario__flexForm_1
	display: flex
	flex: 1
	flex-direction: column
	padding: 1em
	& > .form-group
		& > .form-control
			background: #eee

