.informacionesCorporativas {
	display: flex;
	position:relative;
	width: 80%;
	margin: auto;
	flex-direction:column;
	flex:1;
	margin 2em auto
}
.informacionesCorporativas--superpuestas{
	margin-top:-3em
	z-index 2
}
.InformacionCorporativa:last-child {
	margin-bottom:0
}
.InformacionCorporativa {
	margin-bottom: 2em;
	background: $secondaryColor;
	color:white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2em;
	flex 1
}
.InformacionCorporativa__Titulo {
	height: 3em;
	margin-top: 1em;
	font-size: 1.5em;
	text-align center
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
.InformacionCorporativa__Resumen {
	text-align: center;
	margin: 1em 0;
}
/*Anything outside of media queries is for MOBILE
This is Mobile first approach.
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.informacionesCorporativas {
		flex-direction:row;
		width 100%
	}
	.InformacionCorporativa {
		margin:0 1em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.InformacionCorporativa {
		margin:0 2em;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* Mozilla Firefox only */
/*This will work for firefox*/
.firefox
	.informacionesCorporativas--superpuestas
		position: absolute;
		left: 0;
		width: 80%;
		right: 0;
