@import 'components/Variables/Customizables'
@import 'components/General'
@import 'components/BootstrapNavwalkerMenu'
@import 'components/navbarCustomized'
@import 'components/SmartSlider'
@import 'components/informacionCorporativa'
@import 'components/PostCirculares'
@import 'components/ProductosCirculares'
@import 'components/PostConFondo'
@import 'components/Formulario'
@import 'components/Direccion'
@import 'components/ImagenAnchoCompleto'
@import 'components/PostCarousel'
@import 'components/divi'
